{% extends 'shop/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h1> About us </h1>
    <hr>
    <p>The spellbinding Indian Jewellery has been attracting people from throughout the world since ages. A team of
        Jewellery Designers with the sole objective of offering truly contemporary classic Indian Jewellery founded
        ShreeRachana Jewellers in the year 2000. The shop started under the guidance and passion of Mr. Kalpesh Shah and Mr.
        Mayank Shah traditional Indian Jewellery  designing
        and manufacturing of Gold, Kundan and Diamond Jewellery. Since commencement we are striving extremely hard to
        offer unmatched range of jewellery to our customers. Our innovative designs are a complete blend of style,
        exquisiteness and luxury</p>
    <p class="mt-3">From the very beginning, we knew that it’s going to be a tough job to compete with big names. But
        what separates us from others is our dedication towards work. Every piece of our is purely oriental, designed
        with diligent care. Our workmanship is of top class and is highly appreciated. We aim to be a World-Class,
        innovative, progressive organization and establish ourselves as India's most desirable jewellery manufactures.

        Since our inception, our mission is to develop and craft astounding quality jewellery and accessories to let our
        customers achieve the all-out value for money. We are manufacturer wholesaler & retailer of Temple Jewellery,
        Kundan Meena, Jadau Polki, Pacchi & High-end Rose Cut and Colour Stone Jewellery. We focus mainly of quality
        rather than quantity. We have a team of extremely well-trained and professional craftsmen who help us turning
        our dream into reality. In our small journey, we have already creates a brand name of our own just because of
        our loyal customers who always admire our hard work and inspire us to improve with time</p>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-xs-10 mb-3">
            <img src="{% static 'shop/rachna3.webp' %}" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img src="{% static 'shop/rachna1.jpeg' %}" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            <img src="{% static 'shop/rachna1.jpeg' %}" class="img-fluid">
        </div>

    </div>
</div>

{% endblock %}