{% extends 'shop/base.html' %}
{% block content %}
<div class="container">
    <center><h1>Change Password</h1></center>
    <div class="p-4 m-4">
        <div class="col-lg-5 col-md-5 col-xs-5 mx-auto border rounded py-5 px-5 shadow p-3 mb-5 bg-body rounded">
            <form method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

               <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="newpassword" id="" class="form-control rounded-pill" placeholder="******"
                           aria-describedby="helpId">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Confirm-Password</label>
                    <input type="password" name="confirmpassword" id="" class="form-control rounded-pill" placeholder="******"
                           aria-describedby="helpId">
                </div>
                <input type="hidden" name="cust_id" value="{{profile_obj}}">
                <div class="form-group">
                    <input class="btn btn-sm btn-info rounded-pill" type="Submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}