{% extends 'shop/base.html' %}
{% block content %}
<div class="container">

    <div class="p-4 m-4">
        <div class="col-lg-5 col-md-5 col-xs-5 mx-auto border rounded py-5 px-5 shadow p-3 mb-5 bg-body rounded">
            <h2>Forget password</h2>
            <form action="/shop/forgetpassword/" method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- Email -->
                <div class="mb-3">
                    <label  class="form-label">Email</label>
                    <input type="email"  name="email" class="form-control rounded-pill"
                           placeholder="Example@gmail.com" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <input class="btn btn-sm btn-info rounded-pill" type="Submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}