<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" rel="stylesheet">

    <title>Hello, world!</title>
    {% load static %}
      <link href='{% static "shop/main.css"%}' rel="stylesheet">
  </head>
  <body>
  {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand"> <img alt="" src='{%static "shop/Logo1.webp"%}' style="height: 70px;"></a>
          <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a aria-current="page" class="nav-link active navmargin" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a aria-current="page" class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Live price</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Book an appointment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">add to cart</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(214, 198, 107);">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a aria-current="page" class="nav-link navigationmargin" href="#">About us</a>
              </li>
              <li class="nav-item navimargin">
                <a class="nav-link" href="#">Contact us</a>
              </li>
              <li class="nav-item navimargin">
                <a class="nav-link" href="#">Feedback</a>
              </li>
              <li class="nav-item navimargin">
                <a class="nav-link">Gold</a>
              </li>
              <li class="nav-item navimargin">
                <a class="nav-link">Diamond</a>
              </li>
              <li class="nav-item navimargin">
                <a class="nav-link">Platinum</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <h1>Bangles</h1>
  <div class="container">
    <div class="row ">

    {% for i in products %}
       <div class="card mx-auto" style="width: 18rem;">
         <img alt="..." class="card-img-top" src='/media/{{i.image}}'>
          <div class="card-body">
           <h5 class="card-title">{{i.product_name}}</h5>
           <p class="card-text">{{i.desc}}</p>
           <a class="btn btn-primary" href="#">Add to cart</a>
          </div>
       </div>
        {% endfor %}
    </div>
  </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script crossorigin="anonymous" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>